
/* NAVBAR SECTION */
a { 
  cursor: pointer;
  color: black;
  line-height: 18px;
  font-family: 'Montserrat'; font-size: 20px;
}

a:hover {
  color: purple;
}

.header-main {
    width: 100%;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

.header-main-logo {
  width: fit-content;
  height: 100%;
  background-color: white;
  padding-left: 60px;
  display: flex;
}
.header-main-logo img {
  height: 60px;
  align-self: center;
}

.header-main-nav {
  width: fit-content;
  height: 100%;
  background-color: white;
}

.header-main-nav ul {
  display: inline-block;
  margin-right:50px;
   
}

.header-main-nav ul li {
  display: inline;
  float: left;
  display: inline-block;
  margin-right:50px;
}

.header-main-nav ul li a {
 color: black;
  text-decoration: none;
  position: relative;
}

.header-main-nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -2px; /* Position it below the text */
  left: 0;
  width: 0; /* Initially set width to 0 */
  height: 2px; /* Set height to the desired thickness */
  background-color: purple; /* Set the color */
  transition: width 0.3s ease; /* Add transition effect */
  color: purple;
}
.header-main-nav ul li a:hover::before {
  width: 100%; /* Expand the line on hover */
}



.header-main-sm {
  width: fit-content;
  height: 100%;
  background-color: white;
  padding-right: 60px; 
  display: flex;
  align-items: center;
  column-gap: 10px;
}
  
.header-main-sm-linkedin {
    width: 20px;
    height: 20px;
    background-image: url(https://assets.dryicons.com/uploads/icon/svg/8337/a347cd89-1662-4421-be90-58e5e8004eae.svg);
  background-repeat: no-repeat;
  background-size: cover; 
  }


/* ABOUT ME SECTION */
.container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 50px; 
}

.text-and-image {
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.text {
  flex: 1;
  padding: 0 20px;
  font-family: 'Montserrat';font-size: 18px;
}

.text h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: 'Montserrat';font-size: 32px;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.learn-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-button {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-button:hover {
  background-color: #a5668b;
}

/* PROJECTS SECTION */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  background-color: #F4F1ED;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 40px; 
}

.card img {
  flex: 1;
  max-width: 50%;
  object-fit: cover;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h2 {
  margin-top: 0;
}

.content p {
  margin-bottom: 20px;
}

.purple-button {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.purple-button:hover {
  background-color: #a5668b;
}
.card-image img {
  width: 350px; /* Adjust the width of the image */
  height: auto;
  margin: 20px;
}

/* HARD SKILLS SECTION */
body {
  background-color: white;
  font-family: 'Montserrat';font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0 20px; /* Thick margins on each side */
  padding: 20px 0;
}

.column {
  flex: 1;
  padding: 10px;
  background-color: white;
}

.progress-container {
  text-align: left;
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #F4F1ED;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  background-color: purple;
  height: 20px;
  border-radius: 5px;
}
.skills-title {
  text-align: center;
}


/* SOFT SKILLS SECTION */
.container-2 {
  display: flex;
  justify-content: center; 
  margin: 20px auto; 
  background-color: #f8f2ee;
  padding: 20px;
}

.column-2 {
  flex: 0 0 10%; 
  margin: 0 10px; 
}

.step-2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: purple; 
  color: white; 
}

p {
  margin-left: 10px;
  font-family: 'Montserrat';font-size: 18px;
}

.class-title {
  text-align: center;
}

/* FORM SECTION */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';font-size: 18px;
}

.form-container {
  background-color: purple;
  padding: 20px;
}

.full-width-form {
  width: 100%;
  max-width: 600px; /* Set max-width to prevent form from becoming too wide */
  margin: 0 auto; /* Center the form horizontally */
  background-color: purple; /* Background color purple */
  color: white; /* Text color white */
  padding: 20px;
  box-sizing: border-box;
}

.full-width-form label {
  display: block;
  margin-bottom: 5px;
}

.full-width-form input[type="text"],
.full-width-form input[type="email"],
.full-width-form textarea {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff; /* Input background color white */
  font-family: 'Montserrat';font-size: 16px;
}

.full-width-form textarea {
  height: 100px; /* Adjust textarea height as needed */
}

.full-width-form button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat';font-size: 18px;
}

.full-width-form button:hover {
  background-color: #A5668B;
}
.form-title {
  text-align: center;
  color: white;
}